.row{style: "padding-top: 50px;"}
  = form_for [@message], class: "col s12" do |f|
    .row
      .input-field.col.s12.m6
        = f.text_area :text, id: "edit-text", class: "materialize-textarea", style: "overflow: scroll;"
        = f.label "Edit Text", for: "edit-text", class: "active"
        = f.submit "Submit", class: "btn waves-effect waves-light blue"