.row{style: "padding-top: 50px;"}
  = form_for [@message], class: "col s12" do |f|
    .row
      .input-field.col.s12.m6
        = f.text_field :text, id: "textarea1", class: "materialize-textarea"
        = f.label "New Text", for: "textarea1"
        = f.submit "Submit", class: "btn waves-effect waves-light blue"