@import "./reset";
@import "nav";
@import "row";
@import "pagination";
* {
  font-family: "Sawarabi Mincho";
}
.wrap-index {
  background-image: url("https://images.unsplash.com/photo-1511360823-5c672a170787?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80");
  background-size: cover;
  background-attachment: fixed;
}